

.container{
    width: 1200px;
    max-width: 100%;
    padding: 0 32px;
}
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
legend{
    font-size: 28px;
    font-weight: 600;
}
.options > input{
    padding: 10px;
    color:red;
}

.submit{
    background-color: black;
    color: white;
}

.prev, .next, .show_result{
    background-color: red;
    color: white;
  }

.submit,.prev,.next, .show_result:hover{
    cursor: pointer;
}
.show_result{
    visibility: hidden;
  }